<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head.ejs') %>
</head>
<body>
    <%- include('./includes/nav.ejs') %>
    <h1>Welcome to my <%=about%> page 💰💰</h1>


    <p>Addition of 100 and 100 gives <% let sum = 100 + 100%>  <%=sum%></p>
   

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit tempora ea nihil voluptatum cum sint odio necessitatibus eveniet, minima porro corrupti alias cumque voluptatem modi, excepturi voluptate dolorem quam dicta recusandae quis tempore sunt iusto ipsa in nobis repellat amet, pariatur omnis ducimus dolore veritatis fuga nesciunt dignissimos accusamus odio officiis, rerum, dolores eos facilis. Sed voluptas labore, ipsam sunt magni voluptatem, ullam, tempore ut delectus praesentium officia et. Assumenda necessitatibus facilis maxime? Odit maxime officia laudantium voluptatum voluptatem, repellat asperiores fuga quaerat a dicta eveniet quis, deserunt suscipit blanditiis eligendi ducimus! Eius culpa quaerat laudantium. Consequatur tempore magnam officiis repellat distinctio praesentium deserunt deleniti reprehenderit temporibus quasi consectetur rerum dolorem. Voluptates illo expedita dolorum, officiis enim quam distinctio rerum amet delectus laudantium reprehenderit velit! Ea, fugit distinctio? Optio, tempore magnam laudantium perspiciatis voluptatibus dolorem animi necessitatibus, eos enim consectetur dolorum corrupti, odio architecto!</p>
</body>
</html>